<!-- Assuming this is your partial view user/show.ejs -->
<!-- views/user/show.ejs -->

<li>
    <p>User ID: <%= user.id %></p>
    <p>User Name: <%= user.name %></p>
    <!-- Add more fields as needed -->
  </li>
  